/* ================================================= MOBILE ========================================= */


@media screen and (min-width: 320px) and (max-width: 767px) {}

   /* ================================================= TABLET ========================================= */
   @media screen and (min-width: 768px) {


       .menu-hamburger {
           display: none;
       }

       .js-menu-container {
           display: none;
       }

   }


   /* ================================================= DESKTOP  ========================================= */
   @media screen and (min-width: 1158px) {

       .menu-hamburger {
           display: none;
       }

       .js-menu-container {
           display: none;
       }



   }