:root {
    --evenood-color: #303030;
    --orange-color: #FF6C00;
    --white-color: #FFF;
    --grey-color: #555555;
    --lightgrey-color: #9DA4BD;
    --lightesgray-color: rgba(157, 164, 189, 0.60);
    --mytransition-duration: 250ms;
    --mytransition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Open Sans, Raleway, sans-serif;
    background-color: var(--white-color);
    color: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}



/* ================================================= MOBILE ========================================= */


@media screen and (min-width: 320px) and (max-width: 767px) {

    /* HEADER MOBILE*/
    
        header {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    
        /* LOGO MOBILE*/
    
            
        .rotate-social-links {
            display: none;
        }
    
        /* HERO MOBILE*/
    
        .header-container {
            display: flex;
            flex-direction: column;
            background-image: url(../images/images/background.jpg);
            background-size: cover;
            width: 100%;
            height: auto;
            padding: 0;
            position: relative;
        }

        .logo-container {
        display: block;
                }

        .icon-logo-link {
        position: absolute;
        left: 31px;
        top: 40px;

                }
        
        .icon-logo {
            width: 76px;
            height: 76px;
                }
    
        .nav-container {
            display: none;
        }
    
    
        .headline-container {
            display: flex;
            flex-direction: column;
            padding-left: 31px;
            margin-top: 215px;
            gap: 20px;
            position: relative;
        }
    
        .header-p {
            color: rgba(157, 164, 189, 0.60);
            font-family: Open Sans;
            font-size: 11px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
    
        }
    
        .header-p::before {
            content: '';
            width: 60px;
            height: 1px;
            flex-shrink: 0;
            background: rgba(157, 164, 189, 0.60);
            margin-right: 20px;
        }
    
    
        h1 {
            color: #FFF;
            font-family: Raleway, sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 85px;
            letter-spacing: 3.6px;
        }
    
        .header-p-two {
            color: var(--lightgrey-color);
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.36px;
            width: 360px;
        }
    
        .header-buttons-div {
            display: none;
           
    
        .svg-decoration {
            position: absolute;
            right: 20px;
            top: 325px;
        }

    /* MOBILE HAMBURGER */


}
    




/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) {


.menu-hamburger {
    display: none;
}

.js-menu-container {
    display: none;
}

}


/* ================================================= DESKTOP  ========================================= */
@media screen and (min-width: 1158px) {

.menu-hamburger {
            display: none;
        }

.js-menu-container {
    display: none;
}



}


    

