:root {
    --evenood-color: #303030;
    --orange-color: #FF6C00;
    --white-color: #FFF;
    --mytransition-duration: 250ms;
    --mytransition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}
/* HEADER */

header {
    display: flex;
}

/* LOGO */

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 680px;
    flex-shrink: 0;
}

.icon-logo-link {
    padding-left: 0;
    padding-top: 22px;
    padding-right: 24px;
}

.icon-logo {
    width: 76px;
    height: 76px;
}

.rotate-social-links {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(270deg);
    padding-left: 33px;
    padding-bottom: 40px;
    
}

.rotate-social-links::before {
    content: '';
        height: 1px;
        width: 60px;
        background-color: #303030;
        flex-shrink: 0;
    }

/* HERO */

.header-container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/images/background.jpg);
    width: 1070px;
    height: 680px;
    flex-shrink: 0;
    padding: 0;
}

.nav-container {
    display: flex;
}

.navigation {
    display: flex;
    gap: 30px;
    padding-left: 100px;
    padding-top: 52px;  
}

.nav-link {
    color: var(--white-color);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.nav-li {
    color: #303030;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 2.2px;
    
}

.phone {
    color: var(--white-color);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-left: 240px;
    padding-top: 52px;
}

.button-header {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    color: var(--white-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    height: 40px;
    background-color: transparent;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
   
}

.headline-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 204px;
    gap: 20px;
    
}

.header-p {
    color: rgba(157, 164, 189, 0.60);
    font-family: Open Sans;
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        display:flex;
        align-items: center;  
       
}

.header-p::before {
    content: '';
    width: 60px;
    height: 1px;
    flex-shrink: 0;
    background: rgba(157, 164, 189, 0.60);
    margin-right: 20px;
}


h1 {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 85px;
        letter-spacing: 3.6px;
}

.header-p-two {
    color: #9DA4BD;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    width: 360px;
}



/* ================================================= MOBILE ========================================= */


@media screen and (min-width: 320px) and (max-width: 767px) {
}
    


/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) {
}
    


/* ================================================= DESKTOP  ========================================= */
@media screen and (min-width: 1158px) {
}
    

