:root {
    --evenwood-color: #303030

    --mytransition-duration: 250ms;
    --mytransition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}


.logo-aside {
    display: flex;
    flex-direction: column;
}



/* ================================================= MOBILE ========================================= */


@media screen and (min-width: 320px) and (max-width: 767px) {
}
    


/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) {
}
    


/* ================================================= DESKTOP  ========================================= */
@media screen and (min-width: 1158px) {
}
    

